@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.hide {
  display: none;
}

.active {
  color: wheat;
}

.input {
  display: flex;
  gap: 5px;
}

input {
  text-align: center;
}

img {
  width: 36px;
  height: 36px;
}

ul {
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-delete-div {
  gap: 5px;
}

.budget-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 8px solid black;
  border-radius: 5%;
  padding: 20px;
  background-color: #4b0082;
  color: white;
  height: 90vh;
}

.account {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title-dashboard {
  margin: 0 auto;

  text-align: center;
}

.tabs-all {
  height: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  height: 70px;
  border-radius: 10px;
  width: 100%;
}

.tabs-all > p {
  cursor: pointer;
}

.total-income,
.total-balance,
.total-outcome {
  text-align: center;
}

.dashboard {
  height: 50%;
}

img {
  background: white;
  border-radius: 5px;
}

@media only screen and (min-width: 760px) {
  .budget-container {
    width: 400px;
    aspect-ratio: 1/1.5;
  }
}
